{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>CurrencyIdentifier</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
 
  <link rel="stylesheet" href="../../static/style.css">
  <link rel="stylesheet" href="../../static/title.css">
  <link rel="stylesheet" href="../../static/scroll.css">
  <link rel="stylesheet" href="../../static/button.css">
  <link rel="stylesheet" href="../../static/card.css">
  <link rel="stylesheet" href="../../static/navbar.css">
  <link rel="stylesheet" href="../../static/navbar1.css">
  <link rel="stylesheet" href="../../static/footer.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
  <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}

    .w3-bar-item:hover {
      color:red;
    }
    .w3-bar-item a:hover {   
        background-color: yellow;
        color: black;    
    }
  </style>
  <style>
  button {
    font-size: 17px;
    padding: 0.5em 2.7em;
    font-weight: 500;
    background:black;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
  }

  .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
  }
  .label {
    position: relative;
    top: -1px;
  }
  .transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color:#F7931E;
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  button:hover .transition {
    width: 14em;
    height: 14em;
  }
  button:active {
    transform: scale(0.97);
  }
  </style>
  <style>
    .headingStyle{
      text-align: center;
      position: relative;
      line-height: 2;
      font-family: fantasy;
      font-weight: 200;
      font-size: 24px;
      color:#F7931E;
    }
    .beforestyle{
      content:'""';
      position: absolute;
      width: 100%;
      height: 1px;
      top:auto;
      left: 0;
      bottom: 0;
      right:0;
      margin: 0 auto;
      background-color:#dfdfdf;
    }
    .afterstyle{
      content:'""';
      position: absolute;
      width: 10%;
      height: 2px;
      top:auto;
      left: 0;
      bottom: 0;
      right:0;
      margin: 0 auto;
      background-color:#F7931E;
      transition: all 0.3s ease 0s;
    }
  </style>
  <style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
  }
  .text-wrapper h2 {
    color:#F7931E;
    font-size:4vw;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    transform: translate(-50%, -62%);
  }
  .text-wrapper h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
  .text-wrapper h2:nth-child(2) {
    color:#F7931E;
    animation: wave 4s ease-in-out infinite;
  }
  
  @keyframes wave {
    0%,
    100% {
      clip-path: polygon(
        0% 46%,
        17% 45%,
        34% 50%,
        56% 61%,
        69% 62%,
        86% 60%,
        100% 51%,
        100% 100%,
        0% 100%
      );
    }
    50% {
      clip-path: polygon(
        0% 59%,
        16% 64%,
        33% 65%,
        52% 61%,
        70% 52%,
        85% 47%,
        100% 48%,
        100% 100%,
        0% 100%
      );
    }
  }
  </style>
   <style>
    .custom-button {
        width: 90%;
        opacity: 0;
        transition: opacity 0.3s;
        background-color: #F7931E;
    }

    .custom-button:hover {
        opacity: 1;
        background-color: #F7931E;
    }
</style>
</head>
<body>

<div class="w3" >
  <div class="w3-bar w3-center-align w3-left w3-large" id="navbar">
    <a class="w3-bar-item  w3-hide-medium  w3-hide-large w3-right w3-padding-large w3-large"
       href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars" style="color:#F7931E"></i></a>
    <a href="#" class="w3-bar-item  w3-padding-large w3-left">
      <img src="{%static 'image/Logo.png'%}" alt="Image" width="100" height="100">

    </a>
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-right w3-hover-orange w3-hover-text-white" 
    style="color:#F7931E;font-family:roboto,sans-serif;font-weight:500; text-decoration: none;">Contact Us</a>
    
<a href="#user" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-right  w3-hover-orange w3-hover-text-white" style="color:#F7931E;
    font-family:'roboto',sans-serif;font-weight:500;text-decoration: none;" >User Guide</a>
    <a href="#about" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-right  w3-hover-orange w3-hover-text-white" style="color:#F7931E;
    font-family:'roboto',sans-serif;font-weight:500;text-decoration: none;">About</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-right  w3-hover-orange w3-hover-text-white" style="color:#F7931E;
    font-family:'roboto',sans-serif;font-weight:500;text-decoration: none;">Home</a>
  </div>
</div>

  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-orange w3-hover-text-white">Home</a>
    <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-orange w3-hover-text-white">About</a>
    <a href="#user" class="w3-bar-item w3-button w3-padding-large w3-hover-orange w3-hover-text-white">User Guide</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-orange w3-hover-text-white">Contact Us</a>
  </div>
</div>

<header class="w3-container  w3-center" style="padding:250px 16px;
background-image: linear-gradient(10deg, #4b494969 10%, #2525246b 50%), url('../static/image/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;">
   <div class="w3-margin w3 ">
    <div class="text-animation" style="display: flex; justify-content:center; align-content: center;">
      <div class="text-wrapper" style="text-align: center;">
        <h2 class="w3-margin w3 ">Currency Recognition and Fake Currency Detection &nbsp &nbsp &nbsp</h2>
        <h2 class="w3-margin w3 ">Currency Recognition and Fake Currency Detection &nbsp &nbsp &nbsp</h2>
      </div>
      </div>
    </div>
  <p class="w3-xlarge"  style="color:white;font-family:'Times New Roman', Times, serif; font-weight:150;word-spacing:5px; padding: 5%;">
    This system focuses on identifying and categorizing the Ngultrum, the Bhutanese currency.The list of currencies contains the following denominations: Nu. 1, 5, 10, 20, 50, 100, 500, and 1000<br/>
    Additionally, it has the ability to recognize fake Indian currency.</p>
  <a href="{%url 'classify_image'%}">   
    <button  class="w3 w3-margin-top">
      <span class="transition"></span>
      <span class="gradient"></span>
      <span class="label" style="color:aliceblue;font-family:fantasy;font-weight:200;letter-spacing:2px;" >Verify</span>
    </button>
  </a>
</header>

<section>
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content w3-center-align">
      <div class="w3-center-align">
        <h1 class="headingStyle" >
          Aim
          <span class="beforestyle"></span>
          <span class="afterstyle"></span>
        </h1>
        <p class="w3" style="font-size:16px;text-align: center; font-family:'roboto',sans-serif;font-weight:500;margin-top:3rem; color: #989898;">
          To build an application that can classify Bhutanese currency notes (except old). Along with that we also aim to identify counterfeit Indian notes.
        </p> 
      </div>
    </div>
  </div>

</section>

<section id="about">
  <div class="w3-row-padding  w3-padding-64 w3-container">
    <div class="w3-content">
      <h1 class=" w3 headingStyle" >
        About Project
        <span class="beforestyle"></span>
        <span class="afterstyle"></span>
      </h1>
      <div class="w3-twothird w3-center" style="margin-top: 3rem;">
        <img src="{%static 'image/What-is-the-Bhutan-currency.jpg'%}" alt="Image" width="100%"  height="350">
      </div>
      <div class="w3-third w3-left-align" style="margin-top: 3rem;">
        <p class="w3-margin-left" style="font-size:16px; font-family:'roboto',sans-serif;font-weight:300;word-spacing: 2px; color: #989898;">
          <br/><br/>
          Welcome to our website which utilizes the power of deep learning technology to classify Bhutanese Ngultrum and also detect counterfeit Indian banknotes.
          Our website is designed to provide a simple and efficient solution for anyone who wants to quickly and accurately determine the authenticity of their banknotes. With just a few clicks, 
          you can easily upload an image of your banknote and our system will do the tricks.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="user">
  <div class="w3-row-padding  w3-padding-64 w3-container"> 
    <div class="w3-content">
      <h1 class=" w3 headingStyle" >
        Step To Get Start
        <span class="beforestyle"></span>
        <span class="afterstyle"></span>
      </h1>
    </div> 
      <div class="w3 " style="margin-top: 3rem; height:350px; background-attachment: fixed; background-position:center;
      background-image: linear-gradient(10deg, #4b494969 10%, #2525246b 50%), url('../static/image/currenry.jpg');
      background-repeat: no-repeat; background-size: cover;">
<div class="container py-4">
  <div class="py-4">
      <div class="position-relative mb-4"
          style="height:1rem;">
          <div class="w-100 position-absolute top-50 start-50 translate-middle">
              <div class="progress" style="height:.25rem; width:100%;">
              <div class="progress-bar"id="progress-tab" style="background-color:#F7931E;" role="progressbar"
                style="width:35%;"
                  aria-valuenow="50"
                  aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
              <ul class="nav nav-tabs border-0 w-100 hstack
               justify-content-between position-absolute top-50
                start-50 translate-middle"
                  id="skk-tabs">
              <li class="nav-item" role="presentation">
                  <button type="button"
                        
                          class="btn btn-sm btn-tab1 rounded-pill"
                          style="width:2rem;height:2rem;background-color: #fff;"
                          data-bs-toggle="tab"
                          data-bs-target="#tab1"
                          data-skk-value="1">1</button>
              </li>
              <li class="nav-item" role="presentation">
                  <button type="button"
                          class="btn btn-sm btn-tab1 rounded-pill active"
                          style="width:2rem;height:2rem; background-color: #fff;"
                          data-bs-toggle="tab"
                          data-bs-target="#tab2"
                          data-skk-value="2">2</button>
              </li>
              <li class="nav-item" role="presentation">
                  <button type="button"
                          class="btn btn-sm btn-tab2 rounded-pill"
                          style="width:2rem;height:2rem; background-color: #fff;"
                          data-bs-toggle="tab"
                          data-bs-target="#tab3"
                          data-skk-value="3">3</button>
              </li>
              <li class="nav-item" role="presentation">
                  <button type="button"
                          class="btn btn-sm btn-tab2  rounded-pill"
                          style="width:2rem;height:2rem;
                           background-color: #fff;"
                          data-bs-toggle="tab"
                          data-bs-target="#tab4"
                          data-skk-value="4">4</button>
              </li>
              </ul>
          </div>
      </div>
      <section id="user">
      <div class="tab-content p-4">
          <div class="tab-pane animate_animated animate_flipInX" id="tab1" style="text-align: center;">
              <h4 style="font-family:fantasy;color:white;font-weight:100;">
                  Step 01
              </h4>
              <p className=""  class="card-text"
              style="font-family:sans-serif;text-align:center;font-size:1.2rem;color: #fff;">
              (Option 1) Select an option to click the image using camera.<br/> or <br/>(Option 2) Directly upload an image from your device for identification.
              </p>
          </div>
          <div class="tab-pane animate_animated animate_flipInX active" id="tab2" style="text-align: center;">
              <h4 style="font-family:fantasy;color:white;font-weight:100;">
                  Step 02
              </h4>
              <p className=""  class="card-text"
              style="font-family:sans-serif;text-align:center;font-size:1.2rem;color: #fff;">
              (Option 1) Capture the image using camera.</br/></br/>(Option 2) Once you have uploaded the image, wait for some time.
              </p>
       
          </div>
          <div class="tab-pane animate_animated animate_flipInX" id="tab3" style="text-align: center;">
              <h4 style="font-family:fantasy;color:white;font-weight:100;">
                  Step 03
              </h4>
              <p className=""  class="card-text"
              style="text-align:center; font-family:sans-serif;font-size:1.2rem;color:#fff">
              <br/>Click on the Predict button.
              </p>
       
    
          </div>
          <div class="tab-pane animate_animated animate_flipInX" id="tab4" style="text-align: center;">
              <h4 style="font-family:fantasy;color:white;font-weight:100;">
                  Step 04
              </h4>
              <p className=""  class="card-text"
              style="font-family:sans-serif;text-align:center;font-size:1.2rem; color: #fff;">
              <br/>The predicted result will be shown.
              </p>
          </div>
      </div>
  </section>
  </div>
</div>          
</div>
      </div>
    </div>
</section>

<section id="contact">
  <div class="w3-row-padding  w3-padding-64 w3-container">  
    <div class="w3-content" >
      <h1 class=" w3 headingStyle" >
        Contact Us
        <span class="beforestyle"></span>
        <span class="afterstyle"></span>
      </h1>    

      <div class="w3">         
          <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="custom-div bg-pink">  
                      <div class="card"  style="text-align:center; height: 250px; margin: 5px; padding-bottom: 0px;" >
                        <div class="card-details" style="padding: 15px; height: 200px; padding-bottom: 0px; ">
                          <p class="text-title">
                            <br/><br/>
                            <i  style="color:#F7931E" class="fa fa-envelope-o" aria-hidden="true"></i>
                            </p>
                          <p class="text-body" style="color: #989898;">currencyidentifiers@gmail.com</p>
                        </div>
                        <a href="https://accounts.google.com/InteractiveLogin/signinchooser?continue=https%3A%2F%2Faccounts.google.com%2F&followup=https%3A%2F%2Faccounts.google.com%2F&passive=1209600&ifkv=Af_xneE18mbLClZbqikJ3v1RznEOgJEQWxdxhpgPU0cjum-BfW6NhDLpjk8YRWOUjJztoX_N_yY0jw&flowName=GlifWebSignIn&flowEntry=ServiceLogin">
                          <button class="card-button custom-button">Mail</button>
                        </a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="custom-div bg-lightblue">
                      <div class="card" style="text-align: center; height: 250px; margin: 5px;">
                        <div class="card-details" style="padding: 15px; height: 200px; padding-bottom: 0px; ">
                          <p class="text-title">
                            <br/><br/>
                            <i style="color:#F7931E"  class="fa fa-phone" aria-hidden="true"></i>
                          </p>
                          <p class="text-body" style="color: #989898;">+97517894321</p>
                        </div>
                        <a href="tel:77213754"><button class="card-button custom-button">Call</button></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="custom-div bg-lightgreen">
                      <div class="card" style="text-align: center; height: 250px; margin: 5px;">
                        <div class="card-details" style="padding: 15px; height: 200px; padding-bottom: 0px; ">
                          <p class="text-title">
                            <br/><br/>
                            <i style="color: #F7931E" class="fa fa-whatsapp" aria-hidden="true"></i>
                          </p>
                          <p class="text-body" style="color: #989898;">Message</p>
                        </div>
                          <a href="https://web.whatsapp.com/">
                        <button class="card-button custom-button">WhatsApp</button>
                        </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
         </div>
      </div>
    </div>
</section>
<a href='#'>
  <div style="width:3.5%;text-align: center;border-radius: 40px; position: fixed; bottom:1%; left:93%; z-index: 1;">
    <i style=" color:black; height:3rem; margin-top:0rem;"class=" fa fa-chevron-up" aria-hidden="true" ></i>
  </div>
</a>

<footer class="w3-container w3-padding-64 w3-center w3-opacity" style="margin-top:3rem;background-color: #F7931E;">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-whatsapp w3-hover-opacity"></i>
 </div>

</footer>
<footer>
  <p style="text-align: center;">Copyright &copy; 2023</p>
</footer>

<script>
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

<script>

    console.clear();

const tabContainer = document.querySelector("#skk-tabs")
const tabEl = tabContainer.querySelectorAll("[data-bs-toggle='tab']")
const progressTab = document.querySelector("#progress-tab")

function tabEventShow(event) {
   const currentItem = this.parentNode
   const list = Array.from(currentItem.parentNode.children)
   const position = list.indexOf(currentItem)
   const length = list.length - 1
   let progressWidth = 0

   progressWidth = (typeof(position) == "number") ? position : 0
   progressWidth = (progressWidth > 0 && length > 0) ? (progressWidth / length * 100) : 0

   progressTab.style.width = progressWidth + "%"

   tabEl.forEach((tab) => {
      if(list.indexOf(tab.parentNode) <= position) {
         tab.classList.add("btn-tab1")
         tab.classList.remove("btn-tab2")
      } else {
         tab.classList.add("btn-tab2")
         tab.classList.remove("btn-tab1")
      }
   })
}

tabEl.forEach((tab) => {
   tab.addEventListener("show.bs.tab", tabEventShow)
})
</script>
<script>
  const button = document.querySelector('.custom-button');

  button.addEventListener('mouseover', () => {
      button.style.opacity = '1';
  });

  button.addEventListener('mouseout', () => {
      button.style.opacity = '0';
  });
</script>
</body>
</html>